Repository sunriseos/SunriseOS, pull requests merged in 2019-09, with the labels that each got.

#402 Ground work for libstd (reuse Xargo)
  Makefile.toml
  Xargo.toml
  bootstrap/Cargo.toml
  docs/BUILDING.md
  docs/UPDATE_RUST.md
  i386-unknown-sunrise-user.json
  kernel/Cargo.toml
  libuser/src/crt0/mod.rs
  libuser/src/crt0/relocation.rs
  libuser/src/lib.rs
  libuser/src/syscalls.rs
Labels: infra

#462 Move keyboard handling to it own process
  Cargo.lock
  Cargo.toml
  Makefile.toml
  ipcdefs/keyboard.id
  isofiles/boot/grub/grub.cfg
  keyboard/Cargo.toml
  keyboard/src/main.rs
  keyboard/src/ps2.rs
  libuser/src/error.rs
  libuser/src/lib.rs
  libuser/src/ps2.rs
  libutils/src/lib.rs
  shell/src/main.rs
  shell/src/ps2.rs
  swipc-gen/src/gen_rust_code.rs
Labels: feature

#484 Add stack_size as Thread::create argument
  libuser/src/threads.rs
  shell/src/main.rs
Labels: feature, project-libuser

#483 Add argument handling to loader.
  libuser/src/argv.rs
  libuser/src/lib.rs
  loader/src/main.rs
  sm/src/main.rs
Labels: project-libuser, project-loader

#486 Implement Thread::join
  kernel/src/i386/interrupt_service_routines.rs
  kernel/src/process.rs
  kernel/src/scheduler.rs
  kernel/src/syscalls.rs
  libuser/src/threads.rs
  shell/src/main.rs
Labels: feature, project-kernel, project-libuser

#495 Fix arguments loading/parsing
  libkern/src/lib.rs
  libuser/src/argv.rs
  libutils/src/lib.rs
  loader/src/main.rs
Labels: bug, project-libuser, project-loader, safety
