Repository sunriseos/SunriseOS, pull requests merged in 2019-10, with the labels that each got.

#496 Build instruction should use release mode for qemu
  docs/BUILDING.md
Labels: docs

#498 Various fixes
  Makefile.toml
  fs/src/main.rs
  kernel/src/i386/process_switch.rs
  kernel/src/process.rs
  libuser/src/threads.rs
Labels: project-kernel, safety

#514 Initial Github Action configuration
  .github/workflows/rust.yml
  .travis.yml
  Makefile.toml
  rust-toolchain
Labels: feature, infra

#525 actions: Attempt to fix build issues on Ubuntu
  .github/workflows/rust.yml
Labels: bug, infra
