Repository sunriseos/SunriseOS, pull requests merged in 2019-06, with the labels that each got.

#322 Infra: creating the scripts folder
  scripts/README.md
  scripts/gdb/README.md
  scripts/gdb/break_userspace.py
  scripts/gdb/gdbinit
Labels: infra

#304 Kernel: Use IOAPIC and LAPIC instead of the PIC
  Cargo.lock
  kernel/Cargo.toml
  kernel/src/devices/hpet.rs
  kernel/src/devices/ioapic.rs
  kernel/src/devices/lapic.rs
  kernel/src/devices/mod.rs
  kernel/src/devices/pit.rs
  kernel/src/event.rs
  kernel/src/i386/interrupt.rs
  kernel/src/i386/mod.rs
  kernel/src/interrupts/irq.rs
  kernel/src/interrupts/mod.rs
  kernel/src/main.rs
Labels: project-kernel

#338 ipc/server.rs: Fix typo in encode_bytes
  libuser/src/ipc/server.rs
Labels: project-libuser

#343 Use upstream pest 2.1
  Cargo.lock
  swipc-parser/Cargo.toml
Labels: dependencies

#317 Properly implement A/B/W buffers
  kernel/src/ipc/session.rs
  kernel/src/paging/cross_process.rs
  libuser/src/ipc/buffer.rs
  libuser/src/ipc/macros.rs
  libuser/src/ipc/mod.rs
  libuser/src/types.rs
  swipc-gen/src/gen_rust_code.rs
Labels: project-kernel, project-libuser, project-swipc
